apiVersion: apps/v1
kind: Deployment
metadata:
  name: checkout-stable
  labels:
    app: checkout
    track: stable
spec:
  replicas: 3
  selector:
    matchLabels:
      app: checkout
      track: stable
  template:
    metadata:
      labels:
        app: checkout
        track: stable
    spec:
      containers:
        - name: checkout
          image: nginx:1.25
          ports:
            - containerPort: 80
